* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reviews_header {
    display: inline-block;
    position: relative;
    font-size: 100px;
    
}

.fish {
    display: inline-block;
    position: relative;
    top: 50px;
}

.review3_header {
    display: inline-block;
    position: relative;
    margin: 40px;
    left: -30px;
}