* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    
}
body {
    background-color:  yellowgreen;
}
.logo {
    display: inline-block;
    position: relative;
    right: 100px;
    top: 10px;
    color: black;
    font-size: 50px;
    right: 10px;


}
.logo:hover {
    color: black
}
.search {
    display: inline-block;
    position: relative;
    bottom: -20px;
    right: 30px;
    width: 170%  ;
    padding: 10px;
    margin: 150px;
    
}
.faviortes {
    display: inline-block;
    position: relative;
    top : 100px;
    right: 100px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;


}

.reviews {
    display: inline-block;
    position: relative;
    top: 100px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    left: -60px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    cursor: pointer;

}
.profile {
    display: inline-block;
    position: relative;
    bottom: -100px;
    color: black;
    font-size : 20px;
    text-decoration: none;
    right: 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    
}

.premiuim {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    left: 550px;

}
.food_img {
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
    margin: 30px;

}
.lunch_img {
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
    top: -20px;
}
.dinner {
    display: inline-block;
    position: relative;
    height:auto;
    width: 100%;
}
.socials {
    display: inline-block;
    position: relative;
    font-size: 20px;
    left: 5px;
}
.whatsapp {
    display: inline-block;
    position: relative;
    top: 50px;
    right: 120px;


}

.facebook {
    display: inline-block;
    position: relative;
    top: 50px;
    left: -50px;
}
.twitter {
    display: inline-block;
    position: relative;
    top: 50px;
    left: -140px;
}
.instragram {
    display: inline-block;
    position: relative;
    top: 50px;
    right: 90px;

}
.contact_us {
    display: inline-block;
    position: relative;
    top: 30px;
    font-size: 20px;
    left: 200px;
}
.contact-link {
    display: inline-block;
    position: relative;
    top: 80px;
    left: 100px;
    text-decoration: none; 

}
.download_header {
    display: inline-block;
    position: relative;
    font-size: 19px;
    top: 30px;
    left: 550px;
}
.download {
    display: inline-block;
    position: relative;
    top: 60px;
    left: 400px;

}