* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
.logo {
    display: inline-block;
    position: relative;
    right: 100px;
    top: 10px;
    color: red;
    font-size: 65px;
    border: 1px solid red;


}
.logo:hover {
    color: red;
}
.search {
    display: inline-block;
    position: relative;
    top: -50px;
    left: 400px;
    width: 170%  ;
    padding: 10px;
    
}
.faviortes {
    display: inline-block;
    position: relative;
    top: -100px;
    left: 400px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;


}
.most_viewed {
    display: inline-block;
    position: relative;
    top: -100px;
    left: 500px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.reviews {
    display: inline-block;
    position: relative;
    top: -120px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    left: 745px;

}
.profile {
    display: inline-block;
    position: relative;
    top : 100px;
    color: black;
    font-size : 20px;
    text-decoration: none;
    left: 500px;
}
.food_img {
    display: inline-block;
    position: relative;
    height: 400px;
    width: 400px;

}
.lunch_img {
    display: inline-block;
    position: relative;
    height: 300px;
    width: 300px;
}