* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    
}
body {
    background-color:  yellowgreen;
}
.logo {
    display: inline-block;
    position: relative;
    right: 100px;
    top: 10px;
    color: black;
    font-size: 50px;
    right: 10px;


}
.logo:hover {
    color: black
}
.search {
    display: inline-block;
    position: relative;
    top: -1px;
    left: 50px;
    width: 170%  ;
    padding: 10px;
    
}
.faviortes {
    display: inline-block;
    position: relative;
    top:65px;
    left: -300px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;


}

.reviews {
    display: inline-block;
    position: relative;
    top: 65px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    left: -255px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    cursor: pointer;

}
.profile {
    display: inline-block;
    position: relative;
    bottom: -65px;
    color: black;
    font-size : 20px;
    text-decoration: none;
    left: -200px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    
}

.premiuim {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    top: -10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    left: 420px;

}
.food_img {
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
    margin: 5px;

}
.lunch_img {
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
    top: -5px;
}
.dinner {
    display: inline-block;
    position: relative;
    height:auto;
    width: 100%;
}
.socials {
    display: inline-block;
    position: relative;
    font-size: 20px;
}
.whatsapp {
    display: inline-block;
    position: relative;
    top: 50px;
    left: -160px;


}

.facebook {
    display: inline-block;
    position: relative;
    top: 50px;
    left: -150px;
}
.twitter {
    display: inline-block;
    position: relative;
    top: 50px;
    right: 150px;
}
.instragram {
    display: inline-block;
    position: relative;
    top: 50px;
    right: 100px;

}
.contact_us {
    display: inline-block;
    position: relative;
    font-size: 20px;
}
.contact-link {
    display: inline-block;
    position: relative;
    top: 50px;
    right: 120px;
    text-decoration: none; 

}
.download {
    display: inline-block;
    position: relative;
    top: 50px;
    left: -250px;
    width: 100%;

}